@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

:root {
  --color-primary: rgb(0, 158, 193);
  --background-primary: #FDFAF6;
  --foreground: #171717;
  --font-logo: 'Hidayatullah', Arial, Helvetica, sans-serif;
  --font-primary: "Candaraz", Arial, Helvetica, sans-serif;
  --font-secondary: "Candarai", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Hidayatullah';
  src: url('/fonts/Hidayatullah.otf');
}

@font-face {
  font-family: 'Candarai';
  src: url('/fonts/Candarai.ttf');
}

@font-face {
  font-family: 'Candaraz';
  src: url('/fonts/Candaraz.ttf');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.logo-font {
  font-family: var(--font-logo);
}

.font-primary{
  font-family: var(--font-primary);
}

.font-secondary{
  font-family: var(--font-secondary);
}

.bg-primary{
  background: var(--background-primary);
}

.button-primary {
  background-color: var(--color-primary);
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.button-primary:hover {
  background-color: var(--color-primary);
  opacity: 0.8;
}

.text-color-primary{
  color: var(--color-primary)
}

h2{
  font-family: var(--font-logo);
}
